.cool-button {
  background-color: #ddd;
  border-radius: 5px;
  border: none;
  border-bottom: 4px solid #555;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #222;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  margin: 20px;
  width: 100px;
  transform: perspective(1000px) rotateX(15deg);
}

.primary {
  background-color: #1C588C;
  color: white;
}

.danger {
  background-color: #F26363;
  color: white;
}

.cool-button:active {
  filter: brightness(0.9);
  border-bottom: 2px solid #555;
  transform: perspective(1000px) rotateX(15deg) translateY(2px) scale(0.99);
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}